html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main {
  min-height: 300%;
  background-color: darkslategrey;
  padding: 80px 20px 20px;
  color: white
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  background-color: goldenrod;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

#input {
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid dodgerblue;
  background-color: paleturquoise;
}

#input:hover {
  border-color: hotpink;
  background-color: pink;
}

#input:focus {
  border-color: forestgreen;
  background-color: palegreen;
}